* {
    box-sizing: border-box;
    background-color: rgb(62,71,114);
    font-family: 'Noto Sans Thaana', sans-serif;
    font-size: 32px;
    color: #cfd5dc;
}

body
{
    /* max-width: 80%; */
    margin:0px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(48, 55, 88);
}

main {
  margin: 6px;
}

h1 {
  font-family: "Open Sans";
  margin: 8px 0px;
  background-color: rgb(48, 55, 88);

}

h2 {
  font-size: 64px;
}

h3{
 font-size: 20px;
}

p {
  font-size: 14px;
  margin: 5px;
  padding-top: 8px;
}


#date, #txt {
  font-size: 14px;
  margin: 0;
  margin-left: 4px;
  background-color: rgb(48, 55, 88);
}

img {
  float: left;
  width:  400px;
  height: 300px;
  object-fit: contain;
}

.items {
  font-size: 14px;
  display: block;
}

a {
  font-size: 14px;
}

.footcontainer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(48, 55, 88);
}

.foot {
  padding: 8px;
  padding-bottom: 0;
  margin: 4px;
  background-color: rgb(48, 55, 88);
  font-size: 14px;
}

/* Style the links inside the navigation bar */
.nav a{
  display: inline-block;
  width: 80px;
  color: #cfd5dc;
  background-color: rgb(95, 109, 175);
  text-align: center;
  padding: 4px 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 105px;
  margin-bottom: 8px;
  text-decoration: none;
  font-size: 11px;
  border-radius:  100px;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
} 
  
  /* Add a color to the active/current link */
.nav a:focus {
  border: 1px solid #dde4eb;
}

/* Hide the link that should open and close the topnav on small screens */
.nav .icon {
  display: none;
}

.more:focus{
  color: pink;

}

.scroll-container {
  height: 300px;
  width: auto;
  overflow-y: clip;
  display: flex;
  overflow-x: scroll;
  gap: 2px;
}

.scroll-container img {
  display: flex;
  flex-direction: column;
  min-width: max-content;
  padding: 2px;
  border-radius: 1px;
}

.image-slideshow {
max-height: 50%;
display: inline-block;
margin: 0;
/* margin-top: 10px; */
text-align: left;
}

.container {
  display: flex;
  width: 100%;
}

.fade {
animation-name: fade;
animation-duration: 2s;
}
@keyframes fade {
from {opacity: .5}
to {opacity: 1}
}


.collapsible {
  background-color: rgb(48, 55, 88);
  color: #cfd5dc;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(56, 64, 101);
}

.collapsible:after {
  content: '\002B';
  color: #cfd5dc;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 300px;
}

.birf {
  font-size: 16px;
}



/* imagehtml */

.flex-container {
  display: flex;
  height: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:left;
}

.card-item {
  flex: 0 0 50%;
  background-color: #cfd5dc;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23) 
}

.card-text {
  padding: 0.5rem 1rem;
  color: rgb(62,71,114);
  background-color: #cfd5dc;
}

.card-img {
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.hit {
  margin-bottom: 350px;
}